body {
    background-color: #F8F4EA;
}

hr {
    background-color:none);
    border: none;
    border-color:gray;
    border-style: dotted none none;
    border-width: thick;
    width: 10%;
}

h1 {    
    color: #579BB1;
}

h2 {    
    color: #579BB1;
}

h3 {    
    color: #579BB1;
}

p {  
    color: #c50505;
}

li{ 
    color:#c50505 ;
}